# Virtual environment
venv/

# Python cache & tests
__pycache__/
.pytest_cache/
*.pyc

# Massive Connectome Data files (Do not push to Git)
*.csv
*.csv.gz

# Local logs or environment configs
*.log
.env